@import url("style.css");

:root{
    --couleur-blue-foncé : #2c2640;
    --couleur-menu-active : rgb(253, 110, 58);
    --couleure-blue: #1c78ad;
    --couleur-blanc-different : rgb(238, 234, 234);
}
@keyframes animate {
    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }
    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }
}

.background {
    position: relative;
    width: 100vw;
    height: 60vh;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #1c78ad;
    overflow: hidden;
    

}
.background li {
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.2);
    animation: animate 19s linear infinite;
}




.background li:nth-child(0) {
    left: 73%;
    width: 158px;
    height: 158px;
    bottom: -158px;
    animation-delay: 1s;
}
.background li:nth-child(1) {
    left: 53%;
    width: 125px;
    height: 125px;
    bottom: -125px;
    animation-delay: 4s;
}
.background li:nth-child(2) {
    left: 22%;
    width: 179px;
    height: 179px;
    bottom: -179px;
    animation-delay: 6s;
}
.background li:nth-child(3) {
    left: 17%;
    width: 151px;
    height: 151px;
    bottom: -151px;
    animation-delay: 4s;
}
.background li:nth-child(4) {
    left: 67%;
    width: 157px;
    height: 157px;
    bottom: -157px;
    animation-delay: 15s;
}
.background li:nth-child(5) {
    left: 44%;
    width: 124px;
    height: 124px;
    bottom: -124px;
    animation-delay: 10s;
}
.background li:nth-child(6) {
    left: 18%;
    width: 181px;
    height: 181px;
    bottom: -181px;
    animation-delay: 13s;
}
.background li:nth-child(7) {
    left: 29%;
    width: 122px;
    height: 122px;
    bottom: -122px;
    animation-delay: 19s;
}
.background li:nth-child(8) {
    left: 53%;
    width: 157px;
    height: 157px;
    bottom: -157px;
    animation-delay: 10s;
}
.background li:nth-child(9) {
    left: 7%;
    width: 169px;
    height: 169px;
    bottom: -169px;
    animation-delay: 39s;
}

.texte{
    padding-top: 50px;
    margin: 0 auto;
    text-align: center;
    width: 60%;
    height: 100%;
}


.texte h3{
    font-size: 2em;
    padding-bottom: 20px; 
    color: white;
}

.texte p{
    font-size: 1.2rem;
    font-weight: bold;
    color: white;
    padding-bottom: 12px;
}

.button button{
    font-size: 15px;
    padding: 20px 50px;
    border: none;
    outline: none;
    font-weight: bold;
    transition: all 0.5s;
}

.button button:hover{
    background-color: var(--couleur-menu-active);
    color: white;
   
    
}


.after-font{
    
   
}

.after-font-texte{
    width: 50%;
    padding: 50px 0 0 20px;
}

.after-font-texte h3{
    font-size: 2rem;
}

.after-font-texte p{
    font-size: 1rem;
}

@media screen and (max-width : 900px) {
    .texte{
        width: 90%;
    }

    .after-font-texte{
        width: 80%;
        padding: 50px 0 0 20px;
    }
    
}

/**grid**/
#grid {
    height:70vh;
    transition: 500ms;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 3px;
    background-color: var(--couleure-blue);
  }
  
 
  
  :where(.un) {
    background-image: url('images/visite2022/IMG-20221230-WA0009.jpg');
    background-size: cover;
    transition: 300ms;
    max-width: 100%;
  }

  :where(.deux) {
    background-image: url('images/visite2022/IMG-20221230-WA0021.jpg');
    background-size: cover;
    transition: 300ms;
    max-width: 100%;
  }

  :where(.trois) {
    background-image: url('images/visite2022/IMG-20221230-WA0020.jpg');
    background-size: cover;
    transition: 300ms;
    max-width: 100%;
  }

  :where(.quatre) {
    background-image: url('images/visite2022/IMG-20221230-WA0009.jpg');
    background-size: cover;
    transition: 300ms;
    max-width: 100%;
  }

  :where(.cinq) {
    background-image: url('images/visite2022/IMG-20221230-WA0010.jpg');
    background-size: cover;
    transition: 300ms;
    max-width: 100%;
  }

  :where(.six) {
    background-image: url('images/visite2022/IMG-20221230-WA0012.jpg');
    background-size: cover;
    transition: 300ms;
    max-width: 100%;
  }

  :where(.sept) {
    background-image: url('images/visite2022/IMG-20221230-WA0016.jpg');
    background-size: cover;
    transition: 300ms;
    max-width: 100%;
  }

  :where(.huit) {
    background-image: url('images/visite2022/IMG-20221230-WA0022.jpg');
    background-size: cover;
    transition: 300ms;
    max-width: 100%;
  }

  /*hover sur les images de la gallerie**/
  
  #grid:has(.un:hover) {
    grid-template-columns:  2fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr
  }
  
  #grid:has(.deux:hover) {
    grid-template-columns:  0.5fr 2fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr
  }

  #grid:has(.trois:hover) {
    grid-template-columns:  0.5fr 0.5fr 2fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr
  }

  #grid:has(.quatre:hover) {
    grid-template-columns:  0.5fr 0.5fr 0.5fr 2fr 0.5fr 0.5fr 0.5fr 0.5fr
  }

  #grid:has(.cinq:hover) {
    grid-template-columns:  0.5fr 0.5fr 0.5fr 0.5fr 2fr 0.5fr 0.5fr 0.5fr
  }

  #grid:has(.six:hover) {
    grid-template-columns:  0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 2fr 0.5fr 0.5fr
  }

  #grid:has(.sept:hover) {
    grid-template-columns:  0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 2fr 0.5fr
  }

  #grid:has(.huit:hover) {
    grid-template-columns:  0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 2fr
  }


  @media screen and (max-width : 700px) {

    #grid:has(.un:hover) {
        grid-template-columns:  3fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr
      }
      
      #grid:has(.deux:hover) {
        grid-template-columns:  0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr
      }
    
      #grid:has(.trois:hover) {
        grid-template-columns:  0.5fr 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr
      }
    
      #grid:has(.quatre:hover) {
        grid-template-columns:  0.5fr 0.5fr 0.5fr 3fr 0.5fr 0.5fr 0.5fr 0.5fr
      }
    
      #grid:has(.cinq:hover) {
        grid-template-columns:  0.5fr 0.5fr 0.5fr 0.5fr 3fr 0.5fr 0.5fr 0.5fr
      }
    
      #grid:has(.six:hover) {
        grid-template-columns:  0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 3fr 0.5fr 0.5fr
      }
    
      #grid:has(.sept:hover) {
        grid-template-columns:  0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 3fr 0.5fr
      }
    
      #grid:has(.huit:hover) {
        grid-template-columns:  0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 3fr
      }
  
    
  }
/***grid*/
